.App {
  text-align: center;
  background-color: #212529;
  color: white;
}

#header {
  font-family: 'Source Code Pro', monospace;
  margin: 1% 1% 2% 1%;
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.header-h1-left {
  grid-area: 1 / 1 / 3 / 2;
  display: inline-block;
}

.header-navlinks-right {
  grid-area: 2 / 2 / 3 / 3;
  justify-content: center;
  display: inline-block;
  grid-column-start: 5;
  justify-self: stretch;
  /* grid-column-end: end; */
  /* grid-row-start: row1-start; */
  /* grid-row-end: end; */
}

.header-contact-right {
  grid-area: 1 / 2 / 2 / 3;
  grid-column-start: 5;
  justify-self: end;
  font-size: 3em;
}

#header a {
  color: #fe7f2d;
}

#cats-container {
  position: relative;
}